header{
  .container{
    width: 90%;
    font-size: 20px;
    font-family: 'Changa', sans-serif;
    font-family: 'Kdam Thmor Pro', sans-serif;

    .nav-link{
    color: $colorLetra2;
    }
    .nav-item :hover{
    color: $colorLetra1;
    }
    .navbar-brand :hover{
    transition: 2s;
    width: 500px;
    }  
    .sociales {
      li{
      list-style: none;
      display: inline-block;  
      :hover{
        fill: $colorFondo;
      }
      }  
    }
  }
}
