main{
  font-weight: bold;
    .h1, h5 {
        color: $colorLetra2;
      }
      .h2, h3{
        color:$colorFondo;
      }
      .h4{
        width: 60%;
        padding: 15px;
        color: $colorFondo;
      }
}