$colorLetra1:rgba(59, 58, 47, 0.74);
$colorLetra2: rgba(207, 179, 18, 0.74); 
$colorFondo: rgba(59, 8, 8, 0.993);
@import "header";
@import "letras";
@import "./mixins";
@import "form";
@import "extends";

  main {
    margin: auto;
    font-family: 'Changa', sans-serif;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 20px;
    text-align: center;
    width: 90%;

    .carousel-inner{
      padding: 3%;
    }
    .row{
      display: flex;
      justify-content: space-evenly;
      
      .card{
        @include borde ($colorFondo, 5px);
      }
      .card :hover{
        background-color:rgba(223, 215, 171, 0.74) ;
      }
      .btn {
        @extend .boton ;
        font-size: 20px;
      }
    }
    .accordion {
      ul{
        list-style: none;
      }
      button{
        color: $colorLetra2;
        font-size: 27px;
      }
    }
  }
  footer {
    margin: auto;
    font-family: 'Changa', sans-serif;
    font-family: 'Kdam Thmor Pro', sans-serif;
    background-color: white;
    text-align: center;
    color: $colorFondo;
    padding: 10px;
    font-size: 10px;
    width: 90%;

    .sociales {
      li{
        list-style: none;
        display: inline-block;  
        :hover{
          width: 45px;
          height: 45px;
        }
      }  
    }
  }